html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0B1110;
    background: linear-gradient(45deg, #0B1110, #171717);
    cursor: crosshair;
  }
  
  /* TODO:  PUT ANIMATIONS ON PSEUDO ELEMENT INSTEAD */
  .glowing-animation {
    animation: glowing 10000ms infinite;
  }
  
  @keyframes glowing {
    0% { box-shadow: 0 0 -2px  1 rgba(61, 72, 70, .4) }
    40% { box-shadow: 0 0 20px 3px rgba(61, 72, 70, .5) }
    60% { box-shadow: 0 0 30px 3px rgba(61, 72, 70, .3) }
    100% { box-shadow: 0 0 -10px 0 rgba(61, 72, 70, .2) }
  }
  
  #barcodeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken(#22a18c,2);
    padding: 0px 20px;
    border-radius: 15px;
    box-shadow: 0 0px 1px rgba(61, 72, 70, .8);
    cursor: crosshair;
  }
  
  #barcode{
    position: relative;
    color: #7de230;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 5rem;
    font-weight: 100;
    white-space: no-wrap;
  }
  
  .animatedSpan{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .animatedSpan:hover{
    cursor: pointer;
    color: red;
  }
 
  .barcodeSelected{
    color: red;
  }
  
  a:link {
    color: #7de230;
    text-decoration: none;
  }
  a:visited{
    color: #7de230;
  }
   
